In [13]:
import requests
import pandas as pd

# fetch data from URL
response = requests.get("https://data.covid19india.org/v4/min/timeseries.min.json")
data = response.json()

# initialize lists to store data
state_codes = []
dates = []
confirmed = []
recovered = []
deceased = []
tested = []
vaccinated = []

# loop through data and extract relevant information
for state_code in data:
    for date in data[state_code]['dates']:
        state_codes.append(state_code)
        dates.append(date)
        confirmed.append(data[state_code]['dates'][date].get('total', {}).get('confirmed', 0))
        recovered.append(data[state_code]['dates'][date].get('total', {}).get('recovered', 0))
        deceased.append(data[state_code]['dates'][date].get('total', {}).get('deceased', 0))
        tested.append(data[state_code]['dates'][date].get('total', {}).get('tested', 0))
        vaccinated.append(data[state_code]['dates'][date].get('total', {}).get('vaccinated1', 0))

# create DataFrame
df = pd.DataFrame({
    'state_code': state_codes,
    'date': dates,
    'confirmed': confirmed,
    'recovered': recovered,
    'deceased': deceased,
    'tested': tested,
    'vaccinated': vaccinated
})

In [14]:
df

,state_code,date,confirmed,recovered,deceased,tested,vaccinated
0,AN,2020-03-26,1,0,0,0,0
1,AN,2020-03-27,6,0,0,0,0
2,AN,2020-03-28,9,0,0,0,0
3,AN,2020-03-29,9,0,0,0,0
4,AN,2020-03-30,10,0,0,0,0
...,...,...,...,...,...,...,...
21673,WB,2021-10-27,1589042,1561973,19096,19039301,53992006
21674,WB,2021-10-28,1590032,1562818,19105,19084738,54524323
21675,WB,2021-10-29,1591014,1563678,19113,19133755,55226050
21676,WB,2021-10-30,1591994,1564558,19126,19180886,55982557
21677,WB,2021-10-31,1592908,1565471,19141,19228303,56192166

In [15]:
df.to_csv('timeseries.csv')

In [7]:
import requests
import pandas as pd
from pandas import json_normalize

# fetch data from URL
response = requests.get("https://data.covid19india.org/v4/min/timeseries.min.json")
data = response.json()

# initialize lists to store data
state_codes = []
dates = []
others = []

# loop through data and extract relevant information
for state_code in data:
    for date in data[state_code]['dates']:
        state_codes.append(state_code)
        dates.append(date)
        others.append(data[state_code]['dates'][date])

# create DataFrame
df = pd.DataFrame({
    'state_code': state_codes,
    'date': dates
})

# normalize other columns
df = pd.concat([df, json_normalize(others)], axis=1)

In [9]:
df.to_csv('timeseries2.csv')